.legfile_detail_wrapper {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
}

.legfile_intro_date.instance_field > span,
.legfile_final_date.instance_field > span {
  display: inline;
}

.legfile_detail .instance_field_label {
    font-weight: bold;
    display: block;
}

.legfile_detail .instance_field {
    margin-bottom: 1em;
}

/* ====================================
 * Lay out the main section
 */

.legfile_detail {
  margin-left: 62px;
}

#main .block .content .legfile_detail h1 {
  margin-bottom: 0em;
}

#main .block .content .legfile_detail h2 {
  margin-left: 0px;
  margin-top: 0em;
  font-size: 1.2em;
  font-weight: normal;
}

.legfile_overview_bar {
  clear: both;
  margin: 1em 0em;
  margin-left: -62px;
  border: 1px solid #ccc;
  border-width: 1px 0px;
  padding: 5px 0px;
}

.legfile_overview_bar > span {
  margin-left: 20px;
}

.legfile_overview_bar > span:first-child {
  margin-left: 0px;
}

.legfile_original_url {
  text-align: right;
}

.legfile_attachments ul {
  list-style: none;
}

/* ====================================
 * Lay out the sponsoring councilmember faces
 */
.legfile_detail .legfile_sponsors {
    float: right;
}

.legfile_detail .legfile_sponsors ul > li {
    list-style: none;
}

#sidebar .legfile_sponsors ul {
    display: table;
    border-collapse: collapse;
}

#sidebar .legfile_sponsors li {
    display: table-row;
    background: transparent;
}

#sidebar .legfile_sponsors ul > li > * {
    display: table-cell;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
}

#sidebar .legfile_sponsors img {
    padding-right: 1em;
}


.bookmark {
    float: left;
    margin-top: -16px;
    margin-right: 20px;
    margin-bottom: 16px;

    width: 42px;
    height: 76px;
}

.bookmark button:hover {
    cursor: pointer;
}

.bookmark.active img {
/*  background-image: url(../bookmarks/bookmark_active.png);*/
    width: 42px;
}

.bookmark.inactive img {
/*  background-image: url(../bookmarks/bookmark.png);*/
    width: 42px;
}

.bookmark a,
.bookmark button {
  display: block;
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
}
