{% extends "base.html" %}

{% block content %}

    <h1 class="title">What is This?</h1>
    <p>
    Councilmatic Chicago lets you know what the Chicago city council is doing. If you care about <a href="http://councilmatic.opencityapps.org/search/?q=zoning+reclassification">changes in zoning</a>, 
    <a href="http://councilmatic.opencityapps.org/search/?q=settlement&file_types=Report">what the city is paying 
    out in settlements</a>, or <a href="http://councilmatic.opencityapps.org/search/?q=birthday">BIRTHDAYS!!!</a>,
    you can find out here. You can even subscribe to this search, and if something new happens that you care about 
    you can get an e-mail or see it in your RSS reader.
    </p>
    
    <p>
    You can also see and follow all the legislation sponsored by your alderman or mayor 
    (<a href="http://councilmatic.opencityapps.org/search/?q=&sponsors=Bob+Fioretti">Bob Fioretti</a>, 
     <a href="http://councilmatic.opencityapps.org/search/?q=&sponsors=Leslie+A.+Hairston">Leslie Hairston</a>,
     <a href="http://councilmatic.opencityapps.org/search/?q=&sponsors=Rahm+Emanuel">Rahm Emanuel</a>).
    </p>
        
    <h1>What Else?</h1>
    <p>If there is a piece of legislation you care about, you can give your opinion on it, share it with your network, and
    argue about it with other folks</p>

    <h1>About the Data</h1>

    <p>The data on this site is scraped once a week from from the <a href="http://chicago.legistar.com/">Chicago City Council legislation site</a>. 
    Councilmatic may not have up-to-the-minute information
       about the legislation you are viewing, since it scrapes once per week.
       Each piece of legislation provides a link to its source for reference.<p>

    <h1>Who we Are</h1>
    
    <p></p>Chicago Councilmatic was put up by Derek Eder and Forest Gregg.</p> 
    
    <p>Councilmatic was originally built 
    for Philadelphia, and lot's of folks have contributed to this software.</p>

    <ul>
        <li><a href="https://github.com/mdb" title="Mike Ball">Mike Ball</a></li>
        <li><a href="https://github.com/joannecheng" title="Joanne Cheng">Joanne Cheng</a></li>
        <li><a href="https://github.com/gsf" title="Gabriel Farrell">Gabriel Farrell</a></li>
        <li><a href="http://buttonpresser.com/">Pete Fecteau</a></li>
        <li>Paul Jungwirth</li>
        <li><a href="https://github.com/brilance" title="Bri Lance">Bri Lance</a></li>
        <li><a href="https://github.com/joshmarcus" title="Josh Marcus">Josh Marcus</a></li>
        <li><a href="https://github.com/non" title="Erik Osheim">Erik Osheim</a></li>
        <li><a href="https://github.com/mjumbewu" title="Mjumbe Poe">Mjumbe Poe</a></li>
        <li><a href="https://github.com/scottsil" title="Scott Silverman">Scott Silverman</a></li>
    </ul>

{% endblock %}
