{% load uni_form_tags %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Philadelphia Councilmatic{% endblock %}</title>
  <style>
  </style>

  <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>

  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}main/css/screen.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}uni_form/default.uni-form.css">
  {% endcompress %}

  {% block load_early %}
    {# Here go things that would be in the head, like extra css imports.     #}
  {% endblock %}

</head>
<body>
    <div id="site_header">
        {% block site_header %}
            {% include "main/partials/site_header.html" %}
        {% endblock %}
    </div>

    <div id="wrapper" class="wat-cf paper">
        {% block content %}
        {% endblock %}
    </div>

  {% compress js %}
  <script src="{{ STATIC_URL }}jquery/js/jquery-1.6.4.min.js"></script>
  <script src="{{ STATIC_URL }}jqueryui/js/jquery-ui-1.8.16.custom.min.js"></script>
  {% endcompress %}

  {% block load_late %}
    {# Here go things that would be in at the end of the body, like large    #}
    {# javascript files.                                                     #}
  {% endblock %}

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
