{% load uni_form_tags %}

<!DOCTYPE html>
<html>
<head>
	<title>Philadelphia City Council Email Service</title>
	<style>
	</style>
	
	<link rel="stylesheet" href="{{ STATIC_URL }}web-app-theme/stylesheets/base.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}web-app-theme/stylesheets/themes/default/style.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}base.css">
	
	{% block load_early %}
	  {# Here go things that would be in the head, like extra css imports.     #}
	{% endblock %}
	
</head>
<body>
  <header id="header">
    <h1>Councilmatic</h1>
  </header>
  
  <section class="simple_search">
    <form action="{% url legfile_search %}" method="GET" class="uniForm">
      {{ simple_search_form|as_uni_form }}
      <button type="submit">Go</button>
    </form>
  </section>
  
	{% block content %}
	{% endblock %}
	
	{% block load_late %}
	  {# Here go things that would be in at the end of the body, like large    #}
	  {# javascript files.                                                     #}
	{% endblock %}
	
</body>
</html>
