{% extends "base.html" %}
{% load model_blocks %}
{% load uni_form_tags %}
{% load comments %}

{% block load_early %}
<!--  <link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">-->
{% endblock %}

{% block content %}
  <div id="box">
    <div class="block" id="block-signup">
      <h2>Log In...</h2>
      <form class="uniForm" method="POST" action="{% url registration_login %}">{% csrf_token %}
        {{ form|as_uni_form }}
        <div class="buttonHolder">
          <button type="submit" class="primaryAction">Done</button>
          {% if next %}
            <a href="{{ next }}" class="secondaryAction">Cancel</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
