{% extends "base.html" %}
{% load model_blocks %}
{% load uni_form_tags %}
{% load comments %}

{% block load_early %}
<!--  <link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">-->
{% endblock %}

{% block content %}
  <div id="box">
    <div class="block" id="block-signup">
      <h2>Sign Up...</h2>
      <p>Register in order to subscribe to legislation feeds or to weigh in on legslation.</p>
      <form class="uniForm" method="POST" action="{% url registration_register %}">{% csrf_token %}
        <fieldset class="inlineLabels">
        {{ form|as_uni_form }}
        <div class="buttonHolder">
          <button type="submit" class="primaryAction">Done</button>
          {% if request.GET.next %}
            <input type="hidden" value="{{ request.GET.next }}">
            <a href="{{ request.GET.next }}" class="secondaryAction">Cancel</a>
          {% endif %}
        </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
