*.pyc
*~
*.swn
*.swo
*.swp
*.sqlite3
\#*\#
.\#*

# Compass-generated stuff
.sass-cache/
stylesheets/

# The whoosh_index (assuming it will create the dir automatically)
whoosh_index/

# Log files
logs/

# The virtual environment
.env/

# Code coverage data
.coverage

# Application keys
councilmatic/application_keys.py

# Local settings
councilmatic/local_settings.py
