#BeautifulSoup==3.2.0
-e bzr+ssh://bazaar.launchpad.net/+branch/~mjumbewu/beautifulsoup/text-white-space-fix/#egg=BeautifulSoup
Django
South
pep8
#-e git+https://github.com/toastdriven/django-haystack.git#egg=django-haystack
django-haystack

# Using whoosh for now, for simplicity (it's pure Python).  May use pysolr
# later.
whoosh
