Django==1.4
South==0.7.4
git+git://github.com/toastdriven/django-haystack.git#egg=django-haystack==2.0.0-beta
pep8
django-social-auth==0.6.7
django-uni-form
djangorestframework==0.3.3
django-model-blocks
django-debug-toolbar==0.9.4

GDAL
psycopg2==2.4.5

# Requests, for talking HTTP to things like Google's geocoder
requests==0.11.1

# Using whoosh as the haystack (search) backend for now, for simplicity (it's
# pure Python).  May use pysolr later, but may not need to.
whoosh==2.3.2

# Registration!
hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
git+git://github.com/mjumbewu/django-recaptcha.git#egg=django-recaptcha

# Scraping
beautifulsoup4==4.0.5

# Testing tools
django-nose==1.0
coverage==3.5.1
mock==0.8.0

# Mamangement and deployment
fabric
