{% load compress %}
{% load mustachejs %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}cm/css/cm-style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">

    <script src="{{ STATIC_URL }}mustache/js/mustache-0.4.0-dev.js"></script>
    <script src="{{ STATIC_URL }}mustache/js/django.mustache.js"></script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <!-- Main navbar goes here. -->

        </div>
      </div>
    </div>

    <div class="container">

    </div> <!-- /container -->

    <!-- Client-side templates -->
    {% mustachejs "main-navbar" %}
    {% mustachejs "profile-admin" %}
    {% mustachejs "profile-subscription" %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>

    <script>
      var Councilmatic = Councilmatic || {};

      // Base URLs
      Councilmatic.subscriptionBaseUrl = "{% url 'api_subscription_list' subscriber.pk %}";
      
      // Initial data
      Councilmatic.subscriberInitialData = {{ subscriber_data|default:'{}'|safe }};
    </script>

    <script src="{{ STATIC_URL }}cm/js/cm-models.js"></script>
    <script src="{{ STATIC_URL }}cm/js/cm-views.js"></script>

    <script>
      $(function() {
        var CM = Councilmatic;

        app = Backbone.Router.extend({
          routes: {
            '': 'profile'
          },

          profile: function() {
          }
        });

        mainView = new CM.ProfileView({
          subscriber: new CM.Subscriber(CM.subscriberInitialData)
        });
        mainView.render();
      });
    </script>

  </body>
</html>
