a { color: #c00000; }

body { font-size: 15px;}

/*
.navbar-inner {
  min-height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #e4f3fa;
  background-image: none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e4f3fa), to(#e4f3fa));
  background-image: -webkit-linear-gradient(top, #e4f3fa, #e4f3fa);
  background-image: -o-linear-gradient(top, #e4f3fa, #e4f3fa);
  background-image: linear-gradient(to bottom, #e4f3fa, #e4f3fa);
  background-repeat: repeat-x;
  border: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4f3faff', endColorstr='#e4f3faff', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .nav > li > a {
  color: #027bb6;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .brand {
  color: #027bb6;
  text-shadow: 0 1px 0 #ffffff;
}
*/

.hero-unit {
  padding: 20px;
}

@media (min-width: 980px) {
  #wrap > .container-fluid {
    padding-top: 0;
  }
}

#dashboard-search input[name='q'] {
  /* @largeRatio: @fontSizeLarge/@baseFontSize; */

  font-size: 18px;  /* @fontSizeLarge; */
  line-height: 25px;  /* @baseLineHeight * @largeRatio; */
  height: 37.5px;  /* @inputHeight * @largeRatio; */
}

.map-wrapper {
  border: 1px solid #eee;
}

#map,
.tenure-map {
  min-height: 300px;
}

#map img {
  max-width: none;
}

.ctrlHolder li {
  list-style: none;
}
