<nav class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first{% if active == 'home' or active == 'search' %} active{% endif %}"><a href="/">Search</a></li>
    <li class="{% if active == 'legislation' %} active{% endif %}"><a href="/legislation">Browse</a></li>
<!--    <li class="{% if active == 'minutes' %} active{% endif %}"><a href="/minutes">Minutes</a></li>-->
<!--    <li class="{% if active == 'agendas' %} active{% endif %}"><a href="#">Agendas</a></li>-->
    <li class="{% if active == 'subscriptions' %} active{% endif %}"><a href="/subscriptions">Subscriptions</a></li>
  </ul>
</nav>
