<header class="header">
  <h1><a href="/">Councilmatic</a></h1>
</header>

{% include 'main/partials/dashboard_menu.html' %}

<div class="registration">
{% if user.is_authenticated %}
    <p>{{ user.email }}</p>
    <a href="{% url registration_logout %}?next={{ request.get_full_path }}" class="primaryAction">Log Out</a>
{% else %}
    <a href="{% url registration_login %}?next={{ request.get_full_path }}" type="submit" class="secondaryAction">Log In</button>
    <a href="{% url registration_register %}?next={{ request.get_full_path }}" class="primaryAction">Sign Up</a>
{% endif %}
</div>

<form id="header_bar_search" class="search uniForm" action="{% url search %}" method="GET">
  <input name="q" type="text" class="textinput textInput">
  <button type="submit" class="primaryAction">Search</button>
</form>
