<header class="header">
  <h1><a href="/">Councilmatic</a></h1>
</header>

{% if user.is_authenticated %}
{% else %}
  <div class="registration">
    <a href="{% url registration_login %}?next={{ request.get_full_path }}" type="submit" class="secondaryAction">Log In</button>
    <a href="{% url registration_register %}?next={{ request.get_full_path }}" class="primaryAction">Sign Up</a>
  </div>
{% endif %}

<form id="header_bar_search" class="search" action="{% url search %}" method="GET" class="uniForm">
  <input name="q" type="text" class="textinput textInput">
  <button type="submit" class="primaryAction">Search</button>
</form>
