{% extends "base.html" %}
{% load url from future %}
{% load subscription_labels %}

{% block load_early %}
<!--	<link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">-->
<!--    <link rel="stylesheet" href="{{ STATIC_URL }}main/app_dashboard.css">-->
{% endblock %}

{% block content %}
  <section id="main" class="subscription_list_section">
    <div class="block">

      <div class="content">
        <div class="inner span10 offset1">
          <header>
            <h2>Your subscriptions</h2>
            <p>Manage the legislation you have subscribed to.</p>
          </header>

            {% for subscription in object_list %}
              
              <h4>{{subscription|subscription_title}}</h4>
              {% if subscription|has_been_sent %}
              <p>Last update sent on {{ subscription.last_sent|date }}</p>
              {% endif %}
              
              <p>
                <a href="{% url "unsubscribe_confirmation" subscription.pk %}" id="unsubscribe_{{subscription.id}}_btn" class='btn btn-danger'>Unsubscribe</a>
              </p>
              
            {% endfor %}

        </div>
      </div>
    </div>
  </section>
{% endblock %}
