{% extends "base.html" %}
{% load model_blocks %}
{% load uni_form_tags %}

{% block load_early %}
	<link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/minutes.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}main/app_dashboard.css">
{% endblock %}

{% block content %}
  <section id="main" class="browse dashboard_browse">
    <div class="block">

      <div class="content">
        <div class="inner">
          <header>
            <h2>Find and Subscribe to Legislation</h2>
          </header>

          {# It may either be called `search_form` or just `form` #}

          <form action="{% url search %}" method="GET" class="uniForm">
            <fieldset class="inlineLabels">
              {% if search_form %}
                {{ search_form|as_uni_form }}
              {% else %}
                {{ form|as_uni_form }}
              {% endif %}
              <div class="buttonHolder"><button type="submit" class="primaryAction">Search</button></div>
            </fieldset>
          </form>

          {% if object_list %}
            {% with title='Results' %}

              {% list_block object_list %}

            {% endwith %}

            {% if page.has_previous or page.has_next %}
              <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
              </div>
            {% endif %}
          {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section id="sidebar">
    <div class="block">
      {% include 'subscriptions/subscribe_form.html' %}
    </div>
  </section>
{% endblock %}

{% block load_late %}
  <script src="{{ STATIC_URL }}main/dashboard_search.js"></script>
{% endblock %}
