{% extends "base.html" %}
{% load model_blocks %}
{% load uni_form_tags %}

{% block content %}
    <header>
        <h1>Search</h1>
    </header>
    
    <form method="GET" action=".">
        {{ form|as_uni_form }}
        
        <button type="submit">Search</button>

        {% if query %}
            {{ object_list|as_list_block:"Results" }}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}

