{% load model_blocks %}

{% spaceless %}
<section class="instance_list_wrapper {{ model }}_list_wrapper">
  <header class="instance_list_header {{ model }}_list_header">
    <h1>Actions taken</h1>
  </header>

  <ul class="list instance_list {{ model }}_list">
    {% for instance in instance_list %}
      <li class="item list_item instance_list_item {{ model }}_list_item {{ model }}_{{ instance.pk }}_list_item">
      
        {# Reset the title, so that child blocks don't use it mistakenly #}
        {% with title='' %}
        
          {% if instance.get_absolute_url %}
            {% teaser_block instance %}
          {% else %}
            {% detail_block instance %}
          {% endif %}
          
        {% endwith %}
        
      </li>
    {% endfor %}
  </ul>
</section>
{% endspaceless %}
