{% load model_blocks %}

{% spaceless %}
<section class="wrapper detail_wrapper instance_detail_wrapper {{ model }}_detail_wrapper {{ model }}_{{ instance.pk }}_detail_wrapper">
  <header class="instance_header {{ model }}_header">
    <h1>{{ title|default:instance }}</h1>
  </header>

  <div class="detail instance_detail {{ model }}_detail">
    {% for name, label, value, is_list, is_link in fields %}
      
      <div class="field instance_field {{ model }}_{{ name }}">
        {% if not is_list and value != None and value != '' and value != ' ' %}
          <span class="field_label instance_field_label {{ model }}_{{ name }}_label">{{ label|capfirst }}</span>
          <span class="field_value instance_field_value {{ model }}_{{ name }}_value">
          
            {% if value.get_absolute_url %}
              <a href="{{ value.get_absolute_url }}">{{ value }}</a>
            {% else %}
              {% if is_link %}
                <a href="{{ value }}">{{ value }}</a>
              {% else %}
                {{ value }}
              {% endif %}
            {% endif %}
            
          </span>
        {% endif %}
        
        {% if is_list and value.all|length %}
          {% with title=label %}
            {% list_block value.all %}
          {% endwith %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
{% endspaceless %}
