{% extends "base.html" %}
{% load url from future %}
{% load compress %}

{% block load_early %}
  {% compress css %}
<!--	<link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/minutes.css">-->
<!--	<link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">-->
<!--  <link rel="stylesheet" href="{{ STATIC_URL }}main/app_dashboard.css">-->
  {% endcompress %}
{% endblock %}

{% block content %}
<div class="councilmember-detail dashboard">
<div class="block">
    <div class="content">
    <div class="inner">
        <header>
            <h1>
                <img alt="{{ councilmember.name }}" src="{{STATIC_URL}}{{ councilmember.headshot }}">
                {{ councilmember.name }}
            </h1>
        </header>

        <!------------------------------------------------------
          -- The council member's recently sponsored legislation
          -->
        <div id="dashboard_legislation" class="councilmember-detail__recent-legislation">
            <h2>Recent Legislation</h2>

            <ul>
            {% for file, bookmark, contenttype, bookmark_form in bookmark_data %}
                <li>
                    {% include "main/partials/dashboard_legfile_teaser.html" %}
                </li>
            {% endfor %}
            </ul>
        </div>

        <!-------------------------------------------------------
          -- The council member's district geograph(y/ies)
          -->
        {% for tenure in councilmember.tenures.all %}
        <div class="councilmember-districts" style="float: right; width: 420px">
          {% if tenure.at_large %}
            <h2>At Large</h2>
          {% else %}
            <h2>Representing District {{ tenure.district.id }}</h2>
          {% endif %}

          {% if tenure.end %}
            <h3>From {{ tenure.begin }} until {{ tenure.end }}</h3>
          {% else %}
            <h3>Since {{ tenure.begin }}</h3>
          {% endif %}

          {% if not tenure.at_large %}
            <div style="border:1px solid grey">
            <div id="councilmember_district_{{ tenure.district.pk }}_map_cavas"
                 style="
                    width:420px;
                    height:300px;">
            </div>
            </div>

            <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
            <script src="{{ STATIC_URL}}libs/GeoJSON.js"></script>
            <script type="text/javascript">
              var map;
              var initialize = function() {
                var myOptions = {
                      zoom: 10,
                      center: new google.maps.LatLng(40.006054, -75.147858),
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    },
                    latlngs = [];

                map = new google.maps.Map(document.getElementById('councilmember_district_{{ tenure.district.pk }}_map_cavas'),
                    myOptions);

                var districtOptions = {
                    map: map,
                    title: "District {{ tenure.district.id }}"
                }
                var districtVector = new GeoJSON({{ tenure.district.shape.json|default:'{ "type": "Polygon", "coordinates": [] }'|safe }}, districtOptions);
                debugger;
                zoomToFitVector(map, districtVector.getPath())
              };

              var zoomToFitVector = function(map, path) {
                //  Create a new viewpoint bound
                var bounds = new google.maps.LatLngBounds ();
                //  Go through each...
                for (var i = 0, numlatlngs = path.b.length; i < numlatlngs; i++) {
                  //  And increase the bounds to take this point
                  bounds.extend (path.b[i]);
                }
                //  Fit these bounds to the map
                map.fitBounds (bounds);
              };

              google.maps.event.addDomListener(window, 'load', initialize);
            </script>
          {% endif %}

          <hr>

        </div> <!-- .councilmember-districts -->
        {% endfor %}

    </div>
    </div>
</div>
</div>
{% endblock %}
