{% extends "base.html" %}
{% load model_blocks %}
{% load uni_form_tags %}
{% load comments %}

{% block load_early %}
  <link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">
{% endblock %}

{% block content %}

  <section id="main" class="browse dashboard_browse">
    <div class="block">
      <div class="content">
        <div class="inner">

          {% if user.is_authenticated %}
            {% if is_bookmarked %}
              <div class="bookmark active">
                <form action="{% url unbookmark bookmark.pk %}" method="POST">{% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.get_full_path }}">
                  <button type="submit"><img src="{{ STATIC_URL }}bookmarks/bookmark_on.svg" alt="Unbookmark"></button>
                </form>
              </div>
            {% else %}
              <div class="bookmark inactive">
                <form action="{% url bookmark %}" method="POST">{% csrf_token %}
                  {{ bookmark_form }}
                  <input type="hidden" name="next" value="{{ request.get_full_path }}">
                  <button type="submit"><img src="{{ STATIC_URL }}bookmarks/bookmark_off.svg" alt="Bookmark"></button>
                </form>
              </div>
            {% endif %}
          {% endif %}

          <div class="share_bar">
            <span  class='st_email_large' ></span>
            <span  class='st_identi_large' ></span>
            <span  class='st_twitter_large' ></span>
            <span  class='st_facebook_large' ></span>
            <span  class='st_plusone_large' ></span>
            <span  class='st_sharethis_large' ></span>

<!--            <div class="share share_twitter">-->
<!--              <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>-->
<!--              <a href="http://twitter.com/share" class="twitter-share-button">Tweet</a>-->
<!--            </div>-->

<!--            <!-- Place this tag where you want the +1 button to render -->
<!--            <div class="g-plusone" data-size="tall"></div>-->

<!--            <!-- Place this render call where appropriate -->
<!--            <script type="text/javascript">-->
<!--              (function() {-->
<!--                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;-->
<!--                po.src = 'https://apis.google.com/js/plusone.js';-->
<!--                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);-->
<!--              })();-->
<!--            </script>-->

<!--            <div id="fb-root" style="display: inline-block"></div>-->
<!--            <script>(function(d, s, id) {-->
<!--              var js, fjs = d.getElementsByTagName(s)[0];-->
<!--              if (d.getElementById(id)) {return;}-->
<!--              js = d.createElement(s); js.id = id;-->
<!--              js.src = "//connect.facebook.net/en_US/all.js#appId=177047239036217&xfbml=1";-->
<!--              fjs.parentNode.insertBefore(js, fjs);-->
<!--            }(document, 'script', 'facebook-jssdk'));</script>-->

<!--            <div class="fb-like" data-send="false" data-layout="box_count" data-width="100" data-show-faces="true" data-action="recommend"></div>-->

            <script type="text/javascript">var switchTo5x=false;</script>
            <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript">stLight.options({publisher:'e34345cd-f033-4a3d-a17f-5adf67dbdf71'});</script>

          </div>

          <section class="instance instance_detail legfile_detail">
            <header class="instance_header legfile_header">
              <h1>{{ object.type }} {{ object.id }}</h1>
              <h2>
                <div>Controlled by <span class="legfile_controlling_body">{{ object.controlling_body }}</span></div>
                <div>Sponsored by
                  <ul class="legfile_sponsors">
                    {% for sponsor in object.sponsors.all %}
                      <li><img width="20" src="{{STATIC_URL}}{{ sponsor.headshot }}" alt="{{ sponsor.name }}"></li>
                    {% endfor %}
                  </ul>
                </div>
              </h2>
            </header>

            <div class="overview_bar legfile_overview_bar">
              <span>Introduced on {{ object.intro_date }}</span>

              {% if object.last_action_date %}
                <span>Last action on {{ object.last_action_date }}</span>
              {% endif %}

              <span>Status: {{ object.status }}</span>
            </div>

            <div class="legfile_text">
              <p>{{ object.title }}</p>
            </div>

            <div class="legfile_attachments">
              {% for attachment in object.attachments.all %}

                {% if forloop.first %}<ul>{% endif %}
                  <li><a href="{{ attachment.url }}">{{ attachment.description }}</a></li>
                {% if forloop.last %}</ul>{% endif %}

              {% empty %}

                <p>(No attachments)</p>

              {% endfor %}
            </div>
          </section>

          <div class="legfile_original_url">
            <a href="{{ legfile.url }}">Source</a>
          </div>

          {% comment %}
           <!--
           | TODO: Comments! I want a rated comment system. Commenters should be able
           |       to say whether their comment is in support of or opposition to the
           |       file under question, and other users should be able to mark the
           |       comment as helpful or not (up or down).  This will hopefully
           |       create a system where you'll have most helpful comments in support
           |       of and in opposition to a given file.  Also, you'll have a read on
           |       how many people support or oppose a file, and what they're saying.
           |
          {% get_comment_count for object as comment_count %}
          {{ comment_count }} comment{{ comment_count|pluralize }}

          {% get_comment_form for object as form %}
          <form action="{% comment_form_target %}" method="post">
            {% csrf_token %}
            {{ form|as_uni_form }}
            <div>
              <input type="submit" name="submit" value="Post">
              <input type="submit" name="preview" value="Preview">
            </div>
          </form>

          {% render_comment_list for object %}
           |
           -->
          {% endcomment %}

        </div>
      </div>
    </div>

    <div class="block" id="opinions">
      <div class="content">
        <div class="support opinions">
          {% for opinion in support_opinions %}
            {% if forloop.first %}<ul>{% endif %}
              <li>
                <blockquote class="statement">{{ opinion.latest.statement }}</blockquote>
                <span class="opiner">{{ opinion.opiner.username }}</span>
              </li>
            {% if forloop.last %}</ul>{% endif %}
          {% endfor %}
        </div>

        <div class="abstain opinions">
          {% for opinion in abstain_opinions %}
            {% if forloop.first %}<ul>{% endif %}
              <li>
                <blockquote class="statement">{{ opinion.latest.statement }}</blockquote>
                <span class="opiner">{{ opinion.opiner.username }}</span>
              </li>
            {% if forloop.last %}</ul>{% endif %}
          {% endfor %}
        </div>

        <div class="oppose opinions">
          {% for opinion in oppose_opinions %}
            {% if forloop.first %}<ul>{% endif %}
              <li>
                <blockquote class="statement">{{ opinion.latest.statement }}</blockquote>
                <span class="opiner">{{ opinion.opiner.username }}</span>
              </li>
            {% if forloop.last %}</ul>{% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="block">
      <div class="content">
        <div class="inner">

          <header class="list_header legfile_attachments_header">
            <h1>Timeline</h1>
          </header>

          {% for action in object.actions.all %}
          {% endfor %}

          {% with title="Actions" %}
          {% with phillyleg_legaction_fields="date_taken, description, motion, notes, minutes" %}
            {% list_block object.actions.all %}
          {% endwith %}
          {% endwith %}

        </div>
      </div>
    </div>

    {% comment %}
    <div class="block">
      <div class="content">
        <div class="inner">

           <!--
           | TODO: Comments! I want a rated comment system. Commenters should be able
           |       to say whether their comment is in support of or opposition to the
           |       file under question, and other users should be able to mark the
           |       comment as helpful or not (up or down).  This will hopefully
           |       create a system where you'll have most helpful comments in support
           |       of and in opposition to a given file.  Also, you'll have a read on
           |       how many people support or oppose a file, and what they're saying.
           |
          {% get_comment_count for object as comment_count %}
          {{ comment_count }} comment{{ comment_count|pluralize }}

          {% get_comment_form for object as form %}
          <form action="{% comment_form_target %}" method="post">
            {% csrf_token %}
            {{ form|as_uni_form }}
            <div>
              <input type="submit" name="submit" value="Post">
              <input type="submit" name="preview" value="Preview">
            </div>
          </form>

          {% render_comment_list for object %}
           |
           -->

        </div>
      </div>
    </div>
    {% endcomment %}

  </section>

  <div id="sidebar">
    {% if object.metadata.mentioned_legfiles.all %}
      <div class="block">
        <h3>Bills mentioned in this file</h3>
        <ul class="navigation">
          {% for mentioned_legfile in object.metadata.mentioned_legfiles.all %}
            <li><a href="{{ mentioned_legfile.get_absolute_url }}">{{ mentioned_legfile }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div class="block">
      <h3>What's your opinion?</h3>
      {% if is_opined %}
      <form action="{% url revise_opinion opinion.pk %}" method="post" class="uniForm">{% csrf_token %}
      {% else %}
      <form action="{% url express_opinion %}" method="post" class="uniForm">{% csrf_token %}
      {% endif %}
        <fieldset class="inlineLabels">
          <input type="hidden" name="next" value="{{ request.get_full_path }}">
          {{ opinion_form|as_uni_form }}
          <div class="buttonHolder">
            <button type="submit" class="primaryAction">Post your statement</button>
          </div>
        </fieldset>
      </form>
    </div>

  </div>

{% endblock %}
