{% extends "base.html" %}
{% load model_blocks %}
{% load uni_form_tags %}
{% load comments %}
{% load compress %}

{% block title %}{{ object.title|truncatewords:14 }}{% endblock %}
{% block load_early %}
<!--  <link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">-->
{% endblock %}

{% block content %}

    <section id="main" class="browse legfile_detail dashboard_browse">
    <div class="block">
    <div class="content">
    <div class="inner">
        {% include "bookmarks/partials/bookmark_button.html" %}
        {% include "main/partials/share_buttons.html" %}

          <section class="instance instance_detail legfile_detail">
            <header class="instance_header legfile_header">
              <h1>{{ object.type }} {{ object.id }}</h1>
              <h2 id='controlling_body'>
                {% if object.controlling_body != '' %}
                  <div>Controlled by <span class="legfile_controlling_body">{{ object.controlling_body }}</span></div>
                {% endif %}
              </h2>
            </header>

            <div class="overview_bar legfile_overview_bar">
              <span class='legislation_stats'>
                Introduced on {{ object.intro_date }}
                <br />
                {% if object.last_action_date %}Last action on {{ object.last_action_date }}{% endif %}
                <br />
                Status: {{ object.status }}
              </span>

              <div class='sponsors'>
                {% if object.sponsors %}
                  <h4>Sponsors</h4>
                  <ul>
                    {% for sponsor in object.sponsors.all %}
                      <li> {{ sponsor.name }} </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>

            <div class="legfile_text">
              <p>{{ object.title|linebreaksbr }}</p>
            </div>

            <div class="legfile_original_url">
              <a href="{{ legfile.url }}">Source</a>
            </div>

            <div class="legfile_related_info">
                <div class="legfile_timeline">
                    {% for action in object.actions.all %}

                        {% if forloop.first %}<ul>{% endif %}
                            <li>
                                {% if action.minutes.url %}
                                {% ifchanged action.minutes.url %}
                                <span class="legaction_minutes">
                                    <a href="{{ action.minutes.url }}">(minutes)</a>
                                </span>
                                {% endifchanged %}
                                {% endif %}

                                {% ifchanged action.date_taken %}
                                <span class="legaction_date_taken">{{ action.date_taken }}</span>
                                {% endifchanged %}

                                <span class="legaction_acting_body">{{ action.acting_body }}</span>
                                <span class="legaction_status">
                                    <span class="legaction_description">{{ action.description }}</span>
                                    {% if action.motion %}<span class="legaction_motion">{{ action.motion }}</span>{% endif %}
                                    {% if action.notes %}<span class="legaction_notes">{{ action.notes }}</span>{% endif %}
                                </span>
                            </li>
                        {% if forloop.last %}</ul>{% endif %}

                    {% empty %}

                        <p>(No actions taken)</p>

                    {% endfor %}
                </div>

                <div class="legfile_attachments">
                  {% for attachment in object.attachments.all %}

                    {% if forloop.first %}<ul>{% endif %}
                      <li><a href="{{ attachment.url }}">{{ attachment.description }}</a></li>
                    {% if forloop.last %}</ul>{% endif %}

                  {% empty %}

                    <p>(No attachments)</p>

                  {% endfor %}
                </div>
            </div>


            {% if object.metadata.mentioned_legfiles.all %}
              <div class="block mentions">
                <h3>Bills mentioned in this legislation</h3>
                <ul class="navigation">
                  {% for mentioned_legfile in object.metadata.mentioned_legfiles.all %}
                    <li><a href="{{ mentioned_legfile.get_absolute_url }}">{{ mentioned_legfile }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}


            {% if object.references_in_legislation.all %}
              <div class="block references">
                <h3>Legislation that mentions this bill</h3>
                <ul class="navigation">
                  {% for referencing_legfile_metadata in object.references_in_legislation.all %}
                    <li><a href="{{ referencing_legfile_metadata.legfile.get_absolute_url }}">{{ referencing_legfile_metadata.legfile }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if object.metadata.locations.all %}
              <div class="block locations">
                <h3>Locations mentioned in this bill</h3>
                <img style="float:right; margin-right:200px" src="http://maps.googleapis.com/maps/api/staticmap?center=Chicago, IL&zoom=10&size=256x256&maptype=roadmap{% for location in object.metadata.locations.all %}&markers={{ location.geom.y }},{{ location.geom.x }}{% endfor %}&sensor=false">
                <ul class="navigation">
                  {% for location in object.metadata.locations.all %}
                    <li><a href="http://maps.google.com/maps?q={{ location.address|urlencode }},+Chicago,+IL">
                      {{ location.address }}, Chicago, IL</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

          </section>


          {% comment %}
           <!--
           | TODO: Comments! I want a rated comment system. Commenters should be able
           |       to say whether their comment is in support of or opposition to the
           |       file under question, and other users should be able to mark the
           |       comment as helpful or not (up or down).  This will hopefully
           |       create a system where you'll have most helpful comments in support
           |       of and in opposition to a given file.  Also, you'll have a read on
           |       how many people support or oppose a file, and what they're saying.
           |
          {% get_comment_count for object as comment_count %}
          {{ comment_count }} comment{{ comment_count|pluralize }}

          {% get_comment_form for object as form %}
          <form action="{% comment_form_target %}" method="post">
            {% csrf_token %}
            {{ form|as_uni_form }}
            <div>
              <input type="submit" name="submit" value="Post">
              <input type="submit" name="preview" value="Preview">
            </div>
          </form>

          {% render_comment_list for object %}
           |
           -->
          {% endcomment %}

    </div>
    </div>
    </div>

    <div class="block" id="opinions">
      <div class="content">
        {% if support_opinions %}
          <h4>Support</h4>
          <div class="support opinions">
            {% for opinion in support_opinions %}
              {% if forloop.first %}<ul>{% endif %}
                <li>
                  <blockquote class="statement">{{ opinion.latest.statement }}</blockquote>
                  <span class="opiner">{{ opinion.opiner.username }}</span>
                </li>
              {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if abstain_opinions %}
          <h4>Abstain</h4>
          <div class="abstain opinions">
            {% for opinion in abstain_opinions %}
              {% if forloop.first %}<ul>{% endif %}
                <li>
                  <blockquote class="statement">{{ opinion.latest.statement }}</blockquote>
                  <span class="opiner">{{ opinion.opiner.username }}</span>
                </li>
              {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if oppose_opinions %}
        <h4>Oppose</h4>
        <div class="oppose opinions">
          {% for opinion in oppose_opinions %}
            {% if forloop.first %}<ul>{% endif %}
              <li>
                <blockquote class="statement">{{ opinion.latest.statement }}</blockquote>
                <span class="opiner">{{ opinion.opiner.username }}</span>
              </li>
            {% if forloop.last %}</ul>{% endif %}
          {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>

    <div class="block" id='enter_opinion'>
      <h3>What's your opinion?</h3>
        {% if user.is_authenticated %}
          {% if is_opined %}
          <form action="{% url revise_opinion opinion.pk %}" method="post" class="uniForm">{% csrf_token %}
          {% else %}
          <form action="{% url express_opinion %}" method="post" class="uniForm">{% csrf_token %}
          {% endif %}
            <fieldset class="inlineLabels">
              <input type="hidden" name="next" value="{{ request.get_full_path }}">
              {{ opinion_form|as_uni_form }}
              <div class="buttonHolder">
                <button type="submit" class="primaryAction">Post your statement</button>
              </div>
            </fieldset>
          </form>
        {% else %}
            <p><a href="{% url registration_login %}?next={{ request.get_full_path }}">Log in</a> to comment on the legislation.</p>
        {% endif %}
    </div>

    {% comment %}
    <div class="block">
      <div class="content">
        <div class="inner">

           <!--
           | TODO: Comments! I want a rated comment system. Commenters should be able
           |       to say whether their comment is in support of or opposition to the
           |       file under question, and other users should be able to mark the
           |       comment as helpful or not (up or down).  This will hopefully
           |       create a system where you'll have most helpful comments in support
           |       of and in opposition to a given file.  Also, you'll have a read on
           |       how many people support or oppose a file, and what they're saying.
           |
          {% get_comment_count for object as comment_count %}
          {{ comment_count }} comment{{ comment_count|pluralize }}

          {% get_comment_form for object as form %}
          <form action="{% comment_form_target %}" method="post">
            {% csrf_token %}
            {{ form|as_uni_form }}
            <div>
              <input type="submit" name="submit" value="Post">
              <input type="submit" name="preview" value="Preview">
            </div>
          </form>

          {% render_comment_list for object %}
           |
           -->

        </div>
      </div>
    </div>
    {% endcomment %}

  </section>

{% endblock %}

{% block load_late %}
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
  {% compress js %}
  <script src="{{ STATIC_URL }}main/legfile_detail.js"></script>
  {% endcompress %}
{% endblock %}
