{% extends "base.html" %}
{% load model_blocks %}

{% block load_early %}
<!--	<link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}main/app_dashboard.css">
{% endblock %}

{% block content %}
  <section id="main" class="legfile_list">
    <div class="block">

      <div class="block">
          {% include 'subscriptions/subscribe_form.html' %}
      </div>

      <div class="content">
        <div class="inner">
          <header>
            <h2>Browse Legislation</h2>
          </header>

          {% for file, bookmark, content_type, bookmark_form in bookmark_data %}
            {% include "main/partials/dashboard_legfile_teaser.html" %}
          {% endfor %}

          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a class="prev_page" href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
                <a class="next_page" href="?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
