{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load url from future %}

{% block load_early %}
<!--  <link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">-->
<!--  <link rel="stylesheet" href="{{ STATIC_URL }}main/app_dashboard.css">-->
{% endblock %}

{% block content %}
<div id="dashboard">
  <div class='row-fluid'>
    <div class='offset1 span10'>
      <p class='lead'>Keep tabs on what your City Council is doing.</p>
      <section id="dashboard-search" class="hero-unit">
        <header>
            <h2>{% trans "Find legislation" %}</h2>
        </header>

        <form class="search form-search" action="{% url 'search' %}" method="GET">
          <div class="ctrlHolder">
            <input name="q" type="text" class="input-xxlarge" placeholder="Rahm Emanuel, zoning, TIF, Ordinance O2013-3361, etc.">
            <button type="submit" class="btn btn-large btn-info">{% trans "Search" %}</button>
          </div>
        </form>
      </section>
    </div>
  </div> <!-- row-fluid -->
  <div class='row-fluid'>
    <section id="dashboard-legislation" class="row-fluid">
      <div id="dashboard-legislation-list" class="offset1 span6">
        <h3>{% trans "Most recent" %}</h3>

        {% include "councilmatic/partials/legfile_list.html" %}

        <a class='btn btn-info' href="/search/?q=&topics=Non-Routine">More &raquo;</a>
      </div> <!-- #dashboard-legislation-list -->

      <div class="span4">
        <h3>Legislation in the last month</h3>
        {% include "councilmatic/partials/legislation_topics.html" %}

        <h4>Top sponsors</h4>
        {% for sponsor in sponsors %}
          <h4>
            <img class='img-polaroid' style="width: 30px;" src="{{STATIC_URL}}{{ sponsor.headshot }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}">
            <strong>{{sponsor.leg_count}}</strong> <a href='/member/{{sponsor.id}}'>{{sponsor.name}}</a>
            <small>{{sponsor.title}}</small>
          </h4>
        {% endfor %}
        <a class='btn btn-info' href="/members">More &raquo;</a>

    </section> <!-- dashboard-legislation -->
  </div>     <!-- dashboard -->
</div>    <!-- row-fluid -->
{% endblock %}

{% block load_late %}
  {# {% compress js %} #}
  <script src="{{ STATIC_URL }}main/dashboard_search.js"></script>
  {# {% endcompress %} #}
{% endblock %}
