{% load url from future %}

<span class="pull-right legislation_bookmark">
    {% if not no_bookmark %}
      {% with content=file %}
        {% include "councilmatic/partials/bookmark_button.html" %}
      {% endwith %}
    {% else %}
      <div class="bookmark"></div>
    {% endif %}
</span>

{% if file.key %}
<strong><a href="{% url 'legislation_detail' file.key %}">{{ file.type }} {{ file.id }}</a></strong>
{% endif %}

<p> 
  {{ file.status }} on {{ file.intro_date }} 
</p>
  {% for topic in file.metadata.topics.all %}
    <a href="/search/?q=&topics={{ topic.topic }}"><span class="label {{ topic.get_label }}">{{ topic.topic }}</span></a>
  {% endfor %}

<p>{{ file.title|truncatewords:25 }}</p>

{% if not forloop.last %}<hr>{% endif %}
