{% load url from future %}

<span class="pull-right legislation_bookmark">
    {% if not no_bookmark %}
      {% with content=file %}
        {% include "councilmatic/partials/bookmark_button.html" %}
      {% endwith %}
    {% else %}
      <div class="bookmark"></div>
    {% endif %}
</span>

{% if file.key %}
<h5><a href="{% url 'legislation_detail' file.key %}">{{ file.type }} {{ file.id }}</a></h5>
{% endif %}

<p> 
  {{ file.intro_date }} {{ file.status }} 

  {% for topic in file.metadata.topics.all %}
    {% if topic.topic == 'Routine' %}
      <span class="label">{{ topic.topic }}</span>
    {% else %}
      <span class="label label-info">{{ topic.topic }}</span>
    {% endif %}
  {% endfor %}
</p>

<p>{{ file.title|truncatewords:25 }}</p>

{% if not forloop.last %}<hr>{% endif %}
