.dashboard_browse > header {
  display: none;
}

.legfile_list_item a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.legfile_teaser_wrapper .title {
  display: block;
  font-weight: bold;
}

.legfile_teaser_wrapper .status {
  font-size: 0.8em;
}

.legfile_teaser_wrapper {
  padding: 1.2em 0em;
  padding-left: 50px;
  position: relative;
}

.legfile_teaser_wrapper .bookmark.active {
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
  
  width: 21px;
  height: 38px;
  background-image: url(../bookmarks/bookmark_active.png);
}

.legfile_teaser_wrapper .bookmark a {
  display: block;
  background: transparent;
  width: 21px;
  height: 38px;
}

.legminutes_teaser_wrapper {
  background: url('/static/phillyleg/noun_project_347_2-small.svg');
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.legfile_teaser_wrapper {
  background: url('/static/phillyleg/noun_project_450-small.svg');
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
