/*@import "blueprint/form";*/
@import "blueprint/grid";
@import "mixins";

.dashboard .inner #dashboard_legislation {
    @include column(11);
}

.dashboard .inner,
.legfile_list .inner,
.legfile_search .inner {
    padding-top: 6em;
    text-align: center;

    ul {
        text-align: left;
        list-style: none;
    }

    #dashboard_search {
/*        @include blueprint-form;*/

        padding-bottom: 6em;

        .ctrlHolder,
        .buttonHolder {
            display: inline;
        }

        input,
        button {
            @include quattro;

            float: none;
            font-size: 1.5em;
            line-height: normal;
            vertical-align: middle;
        }
    }

    #dashboard_explanation {
        @include column(24);

        border-bottom: $cm-border;
        margin-bottom: 3em;
        padding-bottom: 2em;

        > div {
            @include column(6);
            @include prepend(1);
            @include append(1);

            &:last-child {
                @include last;
            }

            p {
                text-align: justify;
            }
        }
    }

    #dashboard_legislation,
    .legfile_list_wrapper {
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            text-align: left;
        }

        li {
            @include clearfix;
            margin-top: 0.5em;
        }

        .legislation_bookmark {
            width: 4em;
        }

        .bookmark button {
            background: transparent;
            border: none;
            float: left;
            font-size: inherit;
            margin: 0px;
            padding: 0px;
            width: 4em;
        }

        .legislation_id,
        .legislation_status,
        .legislation_title {
            display: block;
            margin-left: 4em;
        }

        .legislation_id {
            font-weight: bold;
        }

        .legislation_intro_date {
            float: left;
        }

        .legislation_status {
            text-align: right;
        }

        .legislation_title {
        }
    }
}

.legfile_search .inner {
    text-align: left;
}


/* 
 * Bug with display of holder in Firefox.
 * See https://github.com/codeforamerica/councilmatic/issues/17
 */
.dashboard {
    .uniForm:after, .uniForm .buttonHolder:after, .uniForm .ctrlHolder:after, .uniForm .ctrlHolder .multiField:after, .uniForm .inlineLabel:after {
        content: none;
    }
}