/*@import "blueprint/form";*/
@import "blueprint/grid";
@import "mixins";

.dashboard .inner #dashboard_legislation {
    @include column(10);
}

.dashboard .inner,
.legfile_list .inner,
.legfile_search .inner {
    @include column(22);
    @include push(1);

    padding-top: 6em;

    > header h2 {
        margin-bottom: 0px;
    }

    ul {
        text-align: left;
        list-style: none;
    }

    h2 {
        color: $site-blue;
    }

    h3 {
        color: $site-red;
    }

    #dashboard_search {
        padding-bottom: 4em;

        .ctrlHolder,
        .buttonHolder {
            padding: 0px;
        }

        input,
        button {
            @include quattro;

            background-image: url("../images/magnify.png");
            background-position: 0% 50%;
            background-repeat: no-repeat;
            border-radius: 5px;
            float: none;
            font-size: 1.5em;
            height: 3em;
            line-height: normal;
            padding-left: 5%;
            vertical-align: middle;
            width: 94%;
        }
    }

    #dashboard_explanation {
        @include column(22);

        border-bottom: $cm-border;
        margin-bottom: 3em;
        padding-bottom: 2em;

        > div {
            @include column(6);

            &:first-child {
                @include append(2);
            }

            &:last-child {
                @include last;
                @include prepend(2);
            }

            p {
                text-align: justify;
            }
        }
    }

    #dashboard_legislation,
    .legfile_list_wrapper {
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            text-align: left;
        }

        li {
            @include clearfix;
            margin-top: 0.5em;
        }

        .legislation_bookmark {
            width: 4em;
        }

        .bookmark button {
            background: transparent;
            border: none;
            float: left;
            font-size: inherit;
            margin: 0px;
            padding: 0px;
            width: 4em;
        }

        .legislation_id,
        .legislation_status,
        .legislation_title {
            display: block;
            margin-left: 4em;
        }

        .legislation_id {
            font-weight: bold;
        }

        .legislation_intro_date {
            float: left;
        }

        .legislation_status {
            text-align: right;
            margin-bottom: 1em;
        }

        .legislation_title {
        }
    }
}

.legfile_search .inner {
    text-align: left;
}


/*
 * Bug with display of holder in Firefox.
 * See https://github.com/codeforamerica/councilmatic/issues/17
 */
.dashboard {
    .uniForm:after, .uniForm .buttonHolder:after, .uniForm .ctrlHolder:after, .uniForm .ctrlHolder .multiField:after, .uniForm .inlineLabel:after {
        content: none;
    }
}
