/*@import "blueprint/buttons";*/
@import "blueprint/grid";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "mixins";

body {
    @extend .bp;

    background-attachment: fixed;
    background-color: $wood-color;
    background-image: url('../images/wood.jpg');

    // Bold all the header text
    h1, h2, h3, h4, h5, h6 {
        @include quattro;
        font-weight: bold;
        color: $site-blue;
    }

    // No underline on links
    a { text-decoration: none; }

    // Make the content wrapper a grid
    > #wrapper {
        @include border-radius(2px);
        @include box-shadow($shadow-color, 0px, 0px, $shadow-spread);

        background-color: $paper-color;
        background-image: url('../images/exclusive_paper.png');
        border: 1px solid #B5B5B5;
        padding: 1em;
    }

    .inner {
        @include container;
    }
}

@import "site_header";
