$charcoal: rgba(0,0,0,.70);
$border-color: #ccc;
$border-size: 1px;
$cm-border: $border-size solid $border-color;
$etched-color: rgba(0,0,0,.9);
$shadow-color: rgba(black, 1);
$shadow-spread: 5px;

@mixin quattro {
    font-family: 'Quattrocento', 'Garamond', serif;
}
