/*@import "blueprint/buttons";*/
/*@import "blueprint/form";*/
@import "blueprint/grid";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "mixins";

body {
    margin-top: 10em;

    // The top-level header
    #site_header {

        box-shadow: 0 2px $shadow-spread 0 $shadow-color;

        background-color: $site-red;
        margin-top: -10em;
        padding-top: 3em;
        padding-bottom: 1em;
        position: fixed;
        z-index: 100;
        width: 100%;
    }

    #site_header .header_wrapper {
        // Make the header a grid container
        @include container;

        color: white;

        > * {
            margin: 0;
            padding: 0;
        }

        /*
         * The site logo/header style
         */
        .header {
            color: inherit;
            float: left;
            margin-right: 4em;
            padding-top: 0.5em;

            h1, h2, h3, h4, h5, h6 {
                color: inherit;
                line-height: 1em;
                margin: 0px;
                padding: 0px;
                vertical-align: middle;
            }
        }

        /*
         * The user name, which shows up above the header navigation
         */
        .username {
            color: $site-red-lighter;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0.5em;
            text-align: right;
            width: 100%;
            height: 1.5em;
        }

        /*
         * The navgation links
         */
        .site_nav {
            margin-right: 4em;
            text-align: right;

            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
            }

            li {
                display: inline-block;
                padding-left: 1em;
                padding-right: 1em;
                border-right: 1px solid $site-red-lighter;
                text-transform: lowercase;
            }

            li:last-child {
                border-right: none;
                margin-right: 0px;
                padding-right: 0px;
            }
        }

        a:hover,
        a:visited,
        a:active,
        a {
            color: inherit;
        }

        /*
         * The registration links
         */
        .registration {
            line-height: 3em;
            text-align: right;

            p {
                @include quattro;

                margin: 0px;
                padding: 0px;
            }

            > p, span, a {
                display: inline-block;
                margin-right: 1em;
            }
        }

        /*
         * The persistent search form
         */
        .search {
            text-align: right;
            float: right;

            .buttonHolder,
            .ctrlHolder {
                border: none;
                display: inline;
                margin: 0;
                padding: 0;
            }

            input, button {
                float: none;
            }

            input[type="text"] {
                background: white;
                background-image: url("../images/magnify.png");
                background-position: 1% 50%;
                background-repeat: no-repeat;
                border-radius: 5px;
                height: 3em;
                margin-left: 2em;
                padding-left: 3em;
                width: 10em;
            }

            button {
                font-weight: bold;
            }
        }
    }
}
