/*@import "blueprint/buttons";*/
/*@import "blueprint/form";*/
@import "blueprint/grid";
@import "blueprint/liquid";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "mixins";

body {
    margin-top: 6em;

    // The top-level header
    #site_header {

        // Make the header a grid container
        @include container;
        @include box-shadow($shadow-color, 0px, 2px, $shadow-spread);

        background-color: $paper-color;
        background-image: url('../images/exclusive_paper.png');
        border-bottom: $cm-border;
        margin-top: -6em;
        padding: 0.5em;
        position: fixed;
        z-index: 100;

        > * {
            display: inline-block;
            line-height: 3em;
            vertical-align: middle;
            margin: 0;
            padding: 0;
        }

        /*
         * The site logo/header style
         */
        .header {
            margin-right: 4em;

            h1, h2, h3, h4, h5, h6 {
                line-height: 1em;
                margin: 0px;
                padding: 0px;
                vertical-align: middle;
            }

            a:hover,
            a:visited,
            a:active,
            a {
                color: inherit;
            }
        }

        /*
         * The navgation links
         */
        .site_nav {
            line-height: 3em;
            margin-right: 4em;
            text-align: center;

            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
            }

            li {
                display: inline-block;
                margin-right: 1em;
            }
        }

        /*
         * The registration links
         */
        .registration {
            line-height: 3em;
            text-align: right;

            p {
                @include quattro;

                margin: 0px;
                padding: 0px;
            }

            > p, span, a {
                display: inline-block;
                margin-right: 1em;
            }
        }

        /*
         * The persistent search form
         */
        .search {
            text-align: right;
            float: right;

            .buttonHolder,
            .ctrlHolder {
                display: inline;
                margin: 0;
                padding: 0;
            }

            input, button {
                @include quattro;

                float: none;
            }

            input[type="text"] {
                background: transparent;
            }

            button {
                font-weight: bold;
            }
        }
    }
}
