{% load i18n %}
{% load url from future %}

{% if not hide_bookmarks %}

    {% comment %}
     %
     % This partial expects the variables:
     %
     % * user
     % * is_bookmarked
     % * bookmark
     %
    {% endcomment %}

    {% if user.is_authenticated %}
        {% if bookmark %}
            <div class="bookmark active">
                <form class='form-inline' action="{% url 'unbookmark' bookmark.pk %}" method="POST">{% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    <span class='bookmark_submit'><i class='icon-star'></i></span>
                    <button type='submit'></button>
                </form>
            </div>
        {% else %}
            <div class="bookmark inactive">
                <form class='form-inline' action="{% url 'bookmark' %}" method="POST">{% csrf_token %}
                    {{ bookmark_form }}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    <span class='bookmark_submit'><i class='icon-star-empty'></i></span>
                    <button type='submit'></button>
                </form>
            </div>
        {% endif %}
    {% else %}
        <div class="bookmark inactive unauthenticated">
            <form class='form-inline' action="{% url 'registration_login' %}" method="GET">{% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                <span class='bookmark_submit'><i class='icon-star-empty'></i></span>
                <button type='submit'></button>
            </form>
        </div>
    {% endif %}
{% endif %}