{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% load uni_form_tags %}
{% block page_content %}
        <!--header>
            <h1>Search</h1>
        </header-->

        <form class="search" method="get" action="/search">
            <input type="submit" value="Search" />
            {{ form|as_uni_form }}
        </form>

        {% if query %}
        <section class="call_for_subscription">
            <header>
                <p>Subscribe to this search</p>
            </header>
            
            <p>Want to receive a notification any time a new item is added to these search results? <a href="#subscription_form">Subscribe</a>!</p>
            
            <form id="subscription_form" method="post" action="/subscribe">
                <span class="field email_field">
                    <label for="email_field">Email</label>
                    <input type="email" name="email" id="email_field" />
                </span>
                <input type="hidden" name="query" value="{{ form.q.value }}">

<!-- Models: {{ form.models.value }} -->
                {% for model in form.models.value %}
                <input type="hidden" name="models" value="{{ model }}">{% endfor %}

<!-- Sponsors: {{ form.sponsors.value }} -->
                {% for sponsor in form.sponsors.value %}
                <input type="hidden" name="sponsors" value="{{ sponsor }}">{% endfor %}

<!-- Statuses: {{ form.statuses.value }} -->
                {% for status in form.statuses.value %}
                <input type="hidden" name="statuses" value="{{ status }}">{% endfor %}

<!-- Types: {{ form.file_types.value }} -->
                {% for type in form.file_types.value %}
                <input type="hidden" name="types" value="{{ type }}">{% endfor %}

<!-- Controlling Bodies: {{ form.controlling_bodies.value }} -->
                {% for controlling_body in form.controlling_bodies.value %}
                <input type="hidden" name="controlling_bodies" value="{{ controlling_body }}">{% endfor %}

                <button type="submit">Subscribe!</button>
            </form>
        </section>
        
        <section class="search_results">
            <header>
                <h1>Results</h1>
            </header>
            
            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        </section>
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
{% endblock %}

