.simple_search {
/*  position: absolute;
  right: 1em;
  top: 0px;*/
  height: 80px;
  float: right;
  margin-right: 1em;
  
}

.simple_search form {
  margin: 0px;
  padding: 0px;
  height: 100%;
  line-height: 80px;
}

.simple_search form > * {
  display: inline-block;
  vertical-align: middle;
}

.simple_search label {
  display: inline-block;
  height: 3em;
  line-height: 3em;
}

.simple_search > .uniForm input {
  float: none;
  height: 2em;
  border: 1px solid white;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  background-color: inherit;
  color: white;
  width: auto;
}

.simple_search > .uniForm label {
  display: none;
}

.simple_search .uniForm .buttonHolder {
  margin: 0px;
  padding: 0px;
  background: none;
}

.simple_search .uniForm .buttonHolder .primaryAction {
  background-color: gray;
  border-color: #666;

  box-shadow: 1px 1px 0 #aaa;
  -webkit-box-shadow: 1px 1px 0 #aaa;
  -moz-box-shadow: 1px 1px 0 #aaa;
}

.simple_search button {
/*  width: 4em;*/
/*  height: 3em;*/
  padding: 5px;
  border: 1px solid silver;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#header {
  background-image: none;
}

#header .login {
  float: right;
  margin-right: 2em;
}

#header .login a {
  color: white;
  line-height: 80px;
  margin-right: 2em;
}


/* ===== Attributes ===== */

.list_item .wrapper {
  padding: 1.2em 0em;
  padding-left: 50px;
  position: relative;
}

.detail .field {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.45em;
}


/* ==== Share widgets ==== */

.share_bar {
  float: right;
}

.share_twitter,
.share_facebook {
/*  float: left;
  clear: left;*/
  display: inline-block;
}
