.simple_search {
  position: absolute;
  right: 1em;
  top: 1em;
}

.simple_search form {
  margin: 0px;
  padding: 0px;
}

.simple_search form > * {
  display: inline-block;
}

.simple_search label {
  display: inline-block;
  height: 3em;
  line-height: 3em;
}

.simple_search input {
  float: none !important;
  
  height: 3em;
}

.simple_search button {
  width: 3em;
  height: 3em;
}

#header {
  background-image: none;
}
