{% extends "base.html" %}
{% load model_blocks %}
{% load uni_form_tags %}
{% load comments %}

{% block content %}
  <div id="box" class='span10 offset1'>
    <div class="block" id="block-signin">
      <h2>Log In...</h2>
      <form class="uniForm" method="POST" action="{% url registration_login %}">{% csrf_token %}
        <fieldset class="inlineLabels">
        {{ form|as_uni_form }}
        <div class="buttonHolder">
          <button type="submit" class="primaryAction btn">Sign in</button>
          {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <a href="{{ request.GET.next }}" class="secondaryAction">Cancel</a>
          {% endif %}
        </div>
        </fieldset>
      </form>
  </div>
{% endblock %}
