{% extends "base.html" %}
{% load model_blocks %}
{% load uni_form_tags %}
{% load comments %}

{% block load_early %}
<!--  <link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">-->
{% endblock %}

{% block content %}
  <div id="box">
    <div class="block" id="block-signup">
      <h2>Sign Up...</h2>
      <div class="content">
        <div class="flash">
          <div class="message notice">
            <p>You have been logged out</p>
          </div>
        </div>
        <p>Thanks for using Councilmatic. <a href="{% url registration_login %}">Log in</a>.</p>
      </div>
    </div>
  </div>
{% endblock %}
