{% extends "base.html" %}
{% load model_blocks %}

{% block load_early %}
	<link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}main/app_dashboard.css">
{% endblock %}

{% block content %}
  <section id="main" class="browse dashboard_browse">
    <div class="block">
    
      <nav class="secondary-navigation">
        <ul class="wat-cf">
          <li class="first"><a href="#">All</a></li>
          <li class="active"><a href="#">Legislation</a></li>
          <li><a href="#">Minutes</a></li>
          <li><a href="#">Agendas</a></li>
          <li><a href="#">Bookmarks</a></li>
        </ul>
      </nav>
      
      <div class="content">
        <div class="inner">
          {% with title=' ' %}
          {% with phillyleg_legfile_list_template='web-app-theme/object_list.html' %}
          {% with phillyleg_legfile_teaser_template='main/partials/dashboard_legfile_teaser.html' %}
          
            {% list_block legfiles %}
          
          {% endwith %}
          {% endwith %}
          {% endwith %}

          {% comment %}
          {{ minutes|as_list_block }}
          {{ agendas|as_list_block }}
          {% endcomment %}
          <a href="{% url legislation_list %}">More...</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
