{% extends "base.html" %}
{% load model_blocks %}
{% load uni_form_tags %}
{% load compress %}

{% block load_early %}
<!--	<link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">-->
<!--  <link rel="stylesheet" href="{{ STATIC_URL }}main/app_dashboard.css">-->
{% endblock %}

{% block content %}
<section id="main" class="dashboard dashboard_browse">
<div class="block">
    <div class="content">
    <div class="inner">
        <header>
            <h2>Find and Subscribe to Legislation</h2>
        </header>

        <form id="dashboard_search" class="search uniForm" action="{% url search %}" method="GET">
            <div class="ctrlHolder">
                <input name="q" type="text" class="textInput" placeholder="What interests you?">
            </div>
        </form>

        <div id="dashboard_explanation">
            <div class="subscription">
                <h3>Subscription</h3>
                <p>Subscribe to legislation as its made available. Councilmatic provides email subscriptions to the legislation relevant to you.</p>
            </div>

            <div class="contextualization">
                <h3>Contextualization</h3>
                <p>See relevant information around legislation, like the geographical areas mentioned, related legislation, and related information from around the internet.</p>
            </div>

            <div class="evaluation">
                <h3>Evaluation</h3>
                <p>See the pros and cons of an issue as discussed by the wider community. Councilmatic allows users to comment, in support of or opposition to, a bill.</p>
            </div>
        </div>

        <div id="dashboard_legislation">
            <h2>Recent Legislation</h2>

            <ul>
            {% for file, bookmark, contenttype, bookmark_form in bookmark_data %}
                <li>
                    {% include "main/partials/dashboard_legfile_teaser.html" %}
                </li>
            {% endfor %}
            </ul>

            <a href="{% url search %}">More...</a>
        </div>

        <div id="dashboard_locations" style="float: right;">
            <h2>Recent Locations Mentioned</h2>

            <div style="border:1px solid grey">
            <div id="dashboard_locations_map_cavas"
                 style="
                    width:420px;
                    height:300px;">
            </div>
            </div>

            <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
            <script type="text/javascript">
              var map;
              var initialize = function() {
                var myOptions = {
                      zoom: 10,
                      center: new google.maps.LatLng(40.006054, -75.147858),
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    },
                    latlngs = [];

                map = new google.maps.Map(document.getElementById('dashboard_locations_map_cavas'),
                    myOptions);

                {% for location in locations %}
                var markerOptions = {
                  map: map,
                  title: "{{ location.address }}",
                  position: new google.maps.LatLng({{ location.geom.y }}, {{ location.geom.x }})
                };
                var marker = new google.maps.Marker(markerOptions);
                latlngs.push(markerOptions.position);

                google.maps.event.addListener(marker, 'click', function() {
                    window.location = '{% url legislation_detail location.references_in_legislation.all.0.legfile_id %}';
                  });
                {% endfor %}

                zoomToFitMarkers(map, latlngs)
              };

              var zoomToFitMarkers = function(map, latlngs) {
                //  Create a new viewpoint bound
                var bounds = new google.maps.LatLngBounds ();
                //  Go through each...
                for (var i = 0, numlatlngs = latlngs.length; i < numlatlngs; i++) {
                  //  And increase the bounds to take this point
                  bounds.extend (latlngs[i]);
                }
                //  Fit these bounds to the map
                map.fitBounds (bounds);
              };

              google.maps.event.addDomListener(window, 'load', initialize);
            </script>

        </div>
    </div>
    </div>
</div>
</section>
{% endblock %}

{% block load_late %}
  {# {% compress js %} #}
  <script src="{{ STATIC_URL }}main/dashboard_search.js"></script>
  {# {% endcompress %} #}
{% endblock %}
