{% extends "base.html" %}
{% load model_blocks %}
{% load uni_form_tags %}

{% block load_early %}
	<link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}main/app_dashboard.css">
{% endblock %}

{% block content %}
  <section id="main" class="browse dashboard_browse">
    <div class="block">

      {% with active='home' %}
        {% include 'main/partials/dashboard_menu.html' %}
      {% endwith %}

      <div class="content">
        <div class="inner">
          <header>
            <h1>Find and Subscribe to Legislation</h1>
          </header>

          {% uni_form search_form search_form.helper %}

          {% comment %}

          {% with title=' ' %}
          {% with phillyleg_legfile_list_template='web-app-theme/object_list.html' %}
          {% with phillyleg_legfile_teaser_template='main/partials/dashboard_legfile_teaser.html' %}

            {% list_block legfiles %}

          {% endwith %}
          {% endwith %}
          {% endwith %}

          <a href="{% url legislation_list %}">More...</a>

          {% endcomment %}
        </div>
      </div>
    </div>
  </section>

  <section id="sidebar">
    <div class="block">
      {% include 'subscriptions/subscribe_form.html' %}
    </div>
  </section>
{% endblock %}

{% block load_late %}
  <script src="{{ STATIC_URL }}main/dashboard_search.js"></script>
{% endblock %}
