{% extends "base.html" %}
{% load model_blocks %}

{% block load_early %}
	<link rel="stylesheet" href="{{ STATIC_URL }}phillyleg/legislation.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}main/app_dashboard.css">
{% endblock %}

{% block content %}
  <section id="main">
    <div class="block">

      {% with active='bookmarks' %}
        {% include 'main/partials/dashboard_menu.html' %}
      {% endwith %}

      <div class="content">
        <div class="inner">
          {% with phillyleg_legfile_teaser_template='main/partials/dashboard_legfile_teaser.html' %}
          {% with title=' ' %}

            {% list_block object_list %}

          {% endwith %}
          {% endwith %}

          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a class="prev_page" href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
                <a class="next_page" href="?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sidebar">
    <div class="block">
      {% include 'subscriptions/subscribe_form.html' %}
    </div>
  </section>
{% endblock %}
