a, .field_selection { color: #c00000; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #c00000; }

body { font-size: 15px;}

.hero-unit {
  padding: 20px;
}

@media (min-width: 980px) {
  #wrap > .container-fluid {
    padding-top: 0;
  }
}

#dashboard-search input[name='q'] {
  /* @largeRatio: @fontSizeLarge/@baseFontSize; */

  font-size: 18px;  /* @fontSizeLarge; */
  line-height: 25px;  /* @baseLineHeight * @largeRatio; */
  height: 37.5px;  /* @inputHeight * @largeRatio; */
}

.map-wrapper {
  border: 1px solid #eee;
}

#map,
.tenure-map {
  min-height: 300px;
}

#map img {
  max-width: none;
}

.ctrlHolder li {
  list-style: none;
}

.bookmark, .bookmark form { display: inline; }
.bookmark_submit { cursor:pointer; }
.bookmark button { visibility:hidden; width: 0; margin: 0; }

th.sorting_asc span {
  background: url(/static/chicago/sort-up.png) no-repeat 100% 50%;
  padding-right: 10px;
}

th.sorting_desc span {
  background: url(/static/chicago/sort-down.png) no-repeat 100% 50%;
  padding-right: 10px;
}