{% load uni_form_tags %}
{% load i18n %}
{% load querystring %}

  <div class="subscription_section">
    <a href="{% url rss_feed %}?{{ feed.filter|querystring|safe }}"><img src="{{ STATIC_URL }}subscription-rss.svg" style="float:right; margin-top: 10px;" width="40"></a>

    {% if is_subscribed %}
      <form action="{% url unsubscribe subscription.pk %}" method="POST" class="uniForm subscription_form">{% csrf_token %}
        <input type="hidden" name="success" value="{{ request.get_full_path }}">
        <p>Welcome {{ user.username }}.</p>

        <div class="subscriptions unsubscribe-btn buttonHolder">
          <button type="submit" class="primaryAction">{{ unsubscribe_text|default:_('Unsubscribe from this list') }}</button>
        </div>
      </form>
    {% else %}
      {% if user.is_authenticated %}
      <form action="{% url subscribe %}" method="POST" class="uniForm subscription_form">{% csrf_token %}
        {{ subscription_form }}
        <input type="hidden" name="success" value="{{ request.get_full_path }}">
      {% else %}
      <form action="{% url registration_login %}" method="GET" class="uniForm subscription_form">
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
      {% endif %}
        <div class="subscriptions subscribe-btn buttonHolder">
            <button type="submit" class="primaryAction">{{ subscribe_text|default:_('Subscribe to this list') }}</button>
        </div>
      </form>
    {% endif %}
  </div>
