{% load uni_form_tags %}

{% if user.is_authenticated %}
  {% if is_subscribed %}
    <form action="{% url unsubscribe %}" action="POST" class="uniForm">
      <input type="hidden" name="subscriber" value="{{ subscriber.pk }}">
      <input type="hidden" name="feed" value="{{ content_feed.pk }}">
      <div class="buttonHolder">
        <button type="submit" class="primaryAction">Unsubscribe</button>
      </div>
    </form>
  {% else %}
    <form action="{% url subscribe %}" action="POST" class="uniForm">
      <input type="hidden" name="subscriber" value="{{ user.subscriber }}">
      <input type="hidden" name="feed" value="{{ content_feed.pk }}">

      <p>Welcome {{ user.username }}.  To subscribe to this list, click below.</p>

      <div class="buttonHolder">
        <button type="submit" class="primaryAction">Subscribe</button>
      </div>
    </form>
  {% endif %}
{% else %}
  <form action="{% url registration_login %}" action="GET" class="uniForm">
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
      <div class="buttonHolder">
        <button type="submit" class="secondaryAction">Log In</button>
        <button href="{% url registration_register %}" class="primaryAction">Sign Up</button>
      </div>
  </form>
{% endif %}
