{% load uni_form_tags %}

  <div class="subscription_section">
    <a href=""><img src="{{ STATIC_URL }}subscription-rss.svg" style="float:right; margin-top: 10px;" width="40"></a>

    {% if is_subscribed %}
      <form action="{% url unsubscribe subscription.pk %}" method="POST" class="uniForm subscription_form">{% csrf_token %}
        <input type="hidden" name="success" value="{{ request.get_full_path }}">
        <p>Welcome {{ user.username }}.  You are subscribed to this list.  To unsubscribe, click below.</p>

        <div class="buttonHolder">
          <button type="submit" class="primaryAction">Unsubscribe</button>
        </div>
      </form>
    {% else %}
      {% if user.is_authenticated %}
      <form action="{% url subscribe %}" method="POST" class="uniForm subscription_form">{% csrf_token %}
        {{ subscription_form }}
        <input type="hidden" name="success" value="{{ request.get_full_path }}">
      {% else %}
      <form action="{% url registration_login %}" method="GET" class="uniForm subscription_form">
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
      {% endif %}
        <div class="buttonHolder">
            <button type="submit" class="primaryAction">Subscribe</button>
            <span>to new legislation in this list.</span>
        </div>
      </form>
    {% endif %}
  </div>
