{% load i18n %}
{% load url from future %}

{% comment %}
 %
 % This partial expects the variables:
 %
 % * user
 % * is_bookmarked
 % * bookmark
 %
{% endcomment %}

{% if user.is_authenticated %}
    {% if bookmark %}
        <div class="bookmark active">
            <form action="{% url 'unbookmark' bookmark.pk %}" method="POST">{% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                <button class="btn" type="submit">{% trans "Unbookmark" %}</button>
            </form>
        </div>
    {% else %}
        <div class="bookmark inactive">
            <form action="{% url 'bookmark' %}" method="POST">{% csrf_token %}
                {{ bookmark_form }}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                <button class="btn" type="submit">{% trans "Bookmark" %}</button>
            </form>
        </div>
    {% endif %}
{% else %}
    <div class="bookmark inactive unauthenticated">
        <form action="{% url 'registration_login' %}" method="GET">{% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
            <button class="btn" type="submit">{% trans "Bookmark" %}</button>
        </form>
    </div>
{% endif %}
