{% load i18n %}

<div id="site-footer">
  <div class="container-fluid">

    <header>
      <a href="/">{{ site.name }}</a>
    </header>

    <div class="navbar">
      <div class="navbar-inner-not">
        <ul class="nav">
        <li><a href="http://www.github.com/codeforamerica/councilmatic">{% trans "Source code is available on GitHub" %}</a></li>
        <li class="divide-vertical"></li>
        <li><a href="mailto:admin@councilmatic.org">{% trans "Send feedback, questions, and issues to admin@councilmatic.org" %}</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
